.hidden {
    display: none;
}

.panel {
    background-color: rgba(183, 0, 0, 0);
    width: 50%;
    height: 100%;
}

.slotsHolder {
    background-color: rgba(136, 255, 4, 0);
    width: 20%;
    height: 50%;
    aspect-ratio: auto;
    justify-content: space-between;
    align-self: flex-start;
    align-content: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    position: absolute;
    top: 20%;
}

.slot {
    background-color: rgba(24, 0, 255, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-self: auto;
    align-items: center;
    background-image: url("project://database/Assets/Kenney%20Assets/UI/Vector/panel_brown_damaged_dark.svg?fileID=7388822144124034973&guid=39ce17020f50fcb4bbbc7d2f1857cc1d&type=3#panel_brown_damaged_dark");
    align-content: auto;
}

.playerPanel {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    width: 75%;
    height: 75%;
    position: absolute;
    left: 23%;
    top: 10%;
    background-image: url("project://database/Assets/Kenney%20Assets/UI/Vector/panel_brown_damaged_dark.svg?fileID=7388822144124034973&guid=39ce17020f50fcb4bbbc7d2f1857cc1d&type=3#panel_brown_damaged_dark");
}

.item {
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
}

.playerRenderTexture {
    background-image: url("project://database/Assets/Render%20Texture/CameraUI_RenderTexture.renderTexture?fileID=8400000&guid=bf11498d428fbee408ec519b343ec029&type=2#CameraUI_RenderTexture");
}
